body{
	overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.shoes .shoes-product
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
   
}
section .title{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
 border-radius: 100px;
 width: 400px;
 align-items: center;
 margin-left: 350px;
 text-size-adjust: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 1800px;
    height: 3px;
    background: rgb(24, 22, 22);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: rgb(220, 22, 22);
    padding:  5px;
    background: #fff;
    transform: translateX(-50%);
}
#inp{
	font-size: medium;
	font-family: Yu Gothic UI;
	border-radius: 20px;
	border-color: #f9402c;
opacity: 1;

	
}
/* shoes section styling */
.shoes{
    color:#fff;
    background: #111;
    background-size: cover;
}

.shoes .title::after{
    background: rgba(17, 17, 17, 0);
    content: "";
    font-family: Segoe Print;
    font-size: 17px;
margin-top: 20px;
    padding-right: 1400px;
    padding-bottom: 80px;
}
.shoes .shoes-product .card{
    width: calc(25% - 10px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 40px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.shoes .shoes-product .card:hover{
    background: rgb(163, 19, 42);
}
.shoes .shoes-product .card .box{
    transition: all 0.3s ease;
}
.shoes .shoes-product .card:hover .box{
    transform: scale(1.05);
}
.shoes .shoes-product .card i{
    font-size: 50px;
    color: rgb(163, 19, 42);
    transition: color 0.3s ease;
}
.shoes .shoes-product .card:hover i{
    color: #fff;
}
.shoes .shoes-product .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    font-family: Yu 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.shoes a{
    color: #ddd;
}
#p{
	font-family: Yu Gothic UI;
	font-weight: bold;
}
#ss{
    width:200px;
    height: 130px;
    border-radius: 20px;
    opacity: 1;
}



.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
position: absolute;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
	margin-right: 120px;
	padding-left: 700px;
background-color: #111;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;

    justify-content: space-evenly;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    font-weight: bold;
    font-family: Yu Gothic UI;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #bc6262;
}
::-webkit-scrollbar-thumb {
    background: rgb(188, 17, 17);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 83, 83);
}
#cart{
    font-size:20px ;
    text-align: right;
    padding-left: 20px;
}

/*dropdown*/
.dropbtn {
    background-color: #3498db00;
    color: rgb(206, 47, 47);
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: 800px;
    margin-top: -88px;
    font-family: Yu Gothic UI;
    font-weight: bold;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #92bcd800;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 2px;
    text-decoration: none;
    display: block;
    margin-left: 800px;
    padding-right:auto;
    padding-left: -200px;

   
  }
  
  .dropdown a:hover {background-color: #ddd;
}
  
  .show {display: block;}
  #dd{
    margin-top: auto;
  }
  #sort{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    font-weight: bolder;
  }
  #addcart{
    margin-left: auto;
    margin-right: auto;
    padding-left: 890px;
    padding-top: -10px;
    position: absolute;
    margin-top: -28px;
color: crimson;
font-family: Yu Gothic UI;
font-weight: bold;
  }
  #cart-1{
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 3px;
    position: absolute;
    color:crimson ;
  }
  #log{
    font-family: Segoe Print;
    font-weight: bold;
    color: crimson;
    font-size:23px;
   margin-left: -750px;
   margin-top: -20px;
  }
#span{
    color: #ddd;
  }
  #logo{
    width: 20px;
    height: 20px;
  }

  .badge-notify{
    background:rgba(255, 246, 246, 0);
    position:absolute;
    top:0px;
    width: 13px;
    height: 13px;
    margin-top: -2px;
    border-radius: 5px;
    
   }


   footer{
    background: #111;
    padding: 35px 650px;
    color: #fff;
    text-align: center;
	margin-bottom: 0px;
	margin-top: 700px;

}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

